// colors:
$white: #fff;
$black: #000;

// RWD breakpoints:
$phone-landscape-and-tablet: "only screen and (min-device-width : 480px)";
$desktop: "only screen and (min-device-width : 900px) and (orientation : landscape)";

// fonts:


// keyframes:


